ul, ol{list-style-type:none;
    
    margin: 0;
    padding: 0;
    }
    
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
        padding: 0;}
 img{
     display: block;
     max-width: 100%;
     height: auto;
 }    
 a {
     text-decoration: none;

 }   
:root{
   ---color-back:#ffffff;
   --color-primary:#263238;
   --color-secondary:#8F95A5;



}

.container {
    width: 1338px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-footer {
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.logo-grey {
    color: var(--color-secondary);
}
.footer-link {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}
.footer-list {
    margin-left: auto;
}

.footer-item:not(:last-child) {
    margin-right: 80px;
}
.footer-nav, .footer-list{
    display: flex;
    align-items: baseline;  
}
.footer-nav {
    border-top: 1px solid #C4C4C4;
}