ul, ol{list-style-type:none;
    
    margin: 0;
    padding: 0;
    }
    
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
        padding: 0;}
 img{
     display: block;
     max-width: 100%;
     height: auto;
 }    
 a{
     text-decoration: none;

 }   
:root{
   ---color-back:#ffffff;
   --color-primary:#263238;
   --color-secondary:#8F95A5;



}
/* Pricing */
.prising-title{
    margin-bottom: 60px;

    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}
.title{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
}
.text{
    font-size: 20px;
    line-height: 1.5;

    color: #8F95A5;
}
.container .item{
    display: flex;
}
.button{

}
.item .prising-item{
    width: 426px;
    margin-right: 30px;
}

/* Pricing */